<div class="page-title">
    <h1><i class="fa fa-user-plus" aria-hidden="true"></i> <?php echo $this->pageHeading; ?></h1>
    <p></p>
</div>

<div class="wrapper">
    <?php $form->prepare(); ?>
    <?php echo $this->form()->openTag($form); ?>
    <?php echo $this->formRow($form->get('naziv')); ?>
    <?php echo $this->formRow($form->get('adresa')); ?>
    <?php echo $this->formRow($form->get('mjesto')); ?>
    <?php echo $this->formRow($form->get('telefon')); ?>
    <?php echo $this->formRow($form->get('email')); ?>
    <?php echo $this->formRow($form->get('csrf')); ?>
    <?php echo $this->formRow($form->get('submit')); ?>
    <?php echo $this->form()->closeTag(); ?>
</div>

<!-- http://www.winko.com/tag/izdavacke-kuce-154239?tab=vise-tvrtki -->