<div class="page-title">
    <h1><i class="fa fa-user-plus" aria-hidden="true"></i> <?php echo $this->pageHeading; ?></h1>
    <p></p>
</div>

<div class="wrapper">
    <?php $form->prepare(); ?>
    <?php echo $this->form()->openTag($form); ?>
    <?php echo $this->formRow($form->get('ime')); ?>
    <?php echo $this->formRow($form->get('prezime')); ?>
    <?php echo $this->formSubmit($form->get('submit')); ?>
    <?php echo $this->form()->closeTag(); ?>
</div>