<?php #echo $this->header("Učenici", "Popis svih učenika", "Novi učenik", $this->route['default'], "", "users"); ?>
<?php echo $this->header("Autori", "Liber katalog", "Novi autor", "", "", "user"); ?>
<?php echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setPartial('partial/breadcrumb.phtml'); ?>


    <!-- content wrapper -->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4">
                <?php $form->prepare(); ?>
                <?php echo $this->form()->openTag($form); ?>
                <?php echo $this->formRow($form->get('ime')); ?>
                <?php echo $this->formRow($form->get('prezime')); ?>
                <?php echo $this->formSubmit($form->get('submit')); ?>
                <?php echo $this->form()->closeTag(); ?>
            </div>
            <div class="col-md-8">
                <div id="results"></div>
            </div>
        </div>

    </div> <!-- + .wrapper-white to get white background --><!-- ./content wrapper -->

<?php echo $this->partial('partials/indexAjaxSearch', array('route' => $this->route['ajaxSearch'])); ?>