<!-- page title -->
<div class="page-title">
    <h1><i class="fa fa-user-plus" aria-hidden="true"></i> <?php echo $this->pageHeading; ?></h1>
</div>
<!-- ./page title -->

<!-- content wrapper -->
<div class="wrapper">
    <?php echo $this->partial('partials/flashMessage'); ?>

    <?php $form->prepare(); ?>
    <?php echo $this->form()->openTag($form); ?>
    <?php echo $this->formRow($form->get('razred')->get('razred')); ?>
    <?php echo $this->formRow($form->get('razred')->get('odjel')); ?>

    
    <?php echo ($this->hasPodrucniOdjel) ? $this->formRow($form->get('razred')->get('podrucniOdjel')) : "" ?>
    <?php echo $this->formRow($form->get('csrf')); ?>
    <?php echo $this->formRow($form->get('submit')); ?>
    <?php echo $this->form()->closeTag(); ?>
</div>