<?php echo $this->header("Razredi", "Popis svih razreda", "Razred", "", "", "user"); ?>
<?php # echo $this->navigation('navigation')->breadcrumbs()->setMinDepth(0)->setPartial('partial/breadcrumb.phtml'); ?>

<?php
//echo "<pre>";
//\Doctrine\Common\Util\Debug::dump($this->sortParams); die();
?>


    <!-- content wrapper -->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4">
                <?php $form->prepare(); ?>
                <?php echo $this->form()->openTag($form); ?>
                <?php echo $this->formRow($form->get('razred')->get('razred')); ?>
                <?php echo $this->formRow($form->get('razred')->get('odjel')); ?>


                <?php echo ($this->hasPodrucniOdjel) ? $this->formRow($form->get('razred')->get('podrucniOdjel')) : "" ?>
                <?php echo $this->formRow($form->get('csrf')); ?>
                <?php echo $this->formRow($form->get('submit')); ?>
                <?php echo $this->form()->closeTag(); ?>
            </div>
            <div class="col-md-8">
                <div id="results"></div>
            </div>
        </div>

    </div> <!-- + .wrapper-white to get white background --><!-- ./content wrapper -->

<?php echo $this->partial('partials/indexAjaxSearch', array('route' => $this->route['ajaxSearch'])); ?>