<?php #echo $this->header("Učenici", "Popis svih učenika", "Novi učenik", $this->route['default'], "", "users"); ?>
<?php echo $this->header("Mediji", "Popis svih medija", "Novi medij", "", "", "book"); ?>

    <!-- content wrapper -->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4">
                <?php $form->prepare(); ?>
                <?php echo $this->form()->openTag($form); ?>
                <?php echo $this->formRow($form->get('naziv')); ?>
                <?php echo $this->formRow($form->get('csrf')); ?>
                <?php echo $this->formRow($form->get('submit')); ?>
                <?php echo $this->form()->closeTag(); ?>
            </div>
            <div class="col-md-8">
                <div id="results"></div>
            </div>
        </div>

    </div> <!-- + .wrapper-white to get white background --><!-- ./content wrapper -->

<?php echo $this->partial('partials/indexAjaxSearch', array('route' => $this->route['ajaxSearch'])); ?>