<?php $this->checkFetchError($this->paginator); ?>
<?php echo $this->partial('partials/flashMessage'); ?>
<?php $hashConfig = $this->config()['hash_ids']; ?>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th><?php echo $this->sort('u.id', 'ID', $this->sortParams )?></th>
        <th><?php echo $this->sort('u.username', 'Korisničko ime', $this->sortParams )?></th>
        <th><?php echo $this->sort('u.displayName', 'Ime', $this->sortParams )?></th>
        <th><?php echo $this->sort('r.name', 'Role', $this->sortParams )?></th>

        <th>Akcije</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->paginator as $row) : ?>
        <tr>
            <td><?php echo $row->getId()?></td>
            <td><?php echo $this->escapeHtml($row->getEmail())?></td>
            <td><?php echo $this->escapeHtml($row->getDisplayname())?></td>
            <td><?php echo $this->escapeHtml($row->getRole()->getName())?></td>

            <td>
                <?php echo $this->edit($this->route['edit'], $this->hash($row->getId(), $hashConfig), 'icon', $this->permission, $row); ?>
                <?php echo $this->delete($this->route['delete'], $this->hash($row->getId(), $hashConfig), "", "", $this->message, true, $this->permission, $row); ?>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<?php echo $this->paginationcontrol($this->paginator, 'Sliding', 'search_pagination.phtml', array('sortParams' => $this->sortParams)); ?>
<?php echo $this->headScript()->appendFile($this->basePath().'/js/myScripts.js'); ?>
