
<div class="page-title">
    <h1><i class="fa fa-user-plus" aria-hidden="true"></i> Uredi korisničke podatke</h1>
</div>

<div class="wrapper">
    <?php echo $this->partial('partials/flashMessage'); ?>

    <?php $form->prepare(); ?>
    <?php echo $this->form()->openTag($form); ?>

    <?php echo $this->formRow($form->get('email')); ?>
    <?php  echo $this->formRow($form->get('displayName')); ?>
    <?php  echo $this->formRow($form->get('role')); ?>
    <?php  echo $this->formRow($form->get('submit')); ?>
    <?php echo $this->form()->closeTag(); ?>
</div>