<?php echo $this->header("Korisnici", "Popis svih korisnika", "Novi korisnik", "", "", "user"); ?>
	<!-- content wrapper -->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12">
				<div id="results"></div>
			</div>
		</div>

	</div> <!-- + .wrapper-white to get white background --><!-- ./content wrapper -->

<?php echo $this->partial('partials/indexAjaxSearch', array('route' => $this->route['ajaxSearch'])); ?>