<?php $this->checkFetchError($this->paginator); ?>
<?php echo $this->partial('partials/flashMessage'); ?>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th><?php echo $this->sort('id', 'ID', $this->sortParams )?></th>
        <th><?php echo $this->sort('naziv', 'Naziv književno-umjetničkog djela', $this->sortParams )?></th>
        <th><?php echo $this->sort('izdavac', 'Izdavačka kuća', $this->sortParams )?></th>
        <th><?php echo $this->sort('knjizevnaVrsta', 'Književna vrsta', $this->sortParams )?></th>
        <th><?php echo $this->sort('medij', 'Medij', $this->sortParams )?></th>
        <th><?php echo $this->sort('godinaIzdanja', 'Godina izdanja', $this->sortParams )?></th>
        <th><?php echo $this->sort('brojPrimjeraka', 'Ukupno', $this->sortParams )?></th>
        <th><?php echo $this->sort('posudjeniPrimjerci', 'Posudjeno', $this->sortParams )?></th>
        <th><?php echo $this->sort('dostupnostPrimjeraka', 'Dostupno', $this->sortParams )?></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->paginator as $row) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($row['id'])?></td>
            <td><a href="<?php echo $this->url('knjiznicni-katalog/default', array('action' => 'id', 'id' => $row['idDjelo']))?>"><?php echo $this->escapeHtml($row['naziv'])?></a></td>

            <td><?php echo $this->escapeHtml($row['izdavac'])?></td>
            <td><?php echo $this->escapeHtml($row['knjizevnaVrsta'])?></td>
            <td><?php echo $this->escapeHtml($row['medij'])?></td>
            <td><?php echo $this->escapeHtml($row['godinaIzdanja'])?></td>
            <td><?php echo $this->escapeHtml($row['brojPrimjeraka'])?></td>
            <td><?php echo $this->escapeHtml($row['posudjeniPrimjerci'])?></td>
            <td><?php echo $this->escapeHtml($row['dostupnostPrimjeraka'])?></td>
<!--            <td>-->
                <?php # echo $this->editBtn($this->route['edit'], $row['id']); ?>
            <?php # echo $this->deleteBtn($this->route['delete'], $row['id'], "", "", $this->message); ?>
<!--            </td>-->
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<?php echo $this->paginationcontrol($this->paginator, 'Sliding', 'search_pagination.phtml', array('sortParams' => $this->sortParams)); ?>
<?php echo $this->headScript()->appendFile($this->basePath().'/js/myScripts.js'); ?>

