
<!-- content wrapper -->
<div class="wrapper"><!-- + .wrapper-white to get white background -->

    <div class="panel panel-default">
        <div class="panel-body" style="border-bottom: 0px;">
            <div class="page-subtitle page-subtitle-centralized margin-bottom-0">
                <h3>Brisanje djela iz knjižničnog kataloga</h3>
                <p>Književno-umjetničko djelo moguće je izbrisati iz knjižničnog kataloga sve dok ne sadrži barem jedan kataloški broj</p>
            </div>
        </div>
        <div class="panel-body list-contacts">
            <?php  $deleteUrl = $this->url('knjiznicni-katalog/default', array('action' => 'delete', 'id' => $this->djelo->getId() )) ?>

            <a href="<?php echo $deleteUrl; ?>" role='button' class='btn btn-primary btn-clean btn-rounded pull-left'><i class='fa fa-remove'></i> Izbriši iz knjižničnog kataloga</a>

            <a href='<?php echo $this->url('knjiznicni-katalog/default')?>' role='button' class='btn btn-primary btn-clean btn-rounded pull-right '><i class='fa fa-exchange'></i> Vrati se na knjižnični katalog</a>
            <br />



        </div>
    </div>

</div>


