

<!-- page title -->
<div class="page-title">
    <h1><?php echo $this->djelo->getNaziv(); ?></h1>
    <p><?php echo $this->djelo->popisAutora(); ?></p>


    <!-- ./breadcrumb -->
</div>
<!-- ./page title -->

<!-- content wrapper -->
<div class="wrapper">
    <?php echo $this->partial('partials/flashMessage'); ?>

<div class="row">
    <div class="col-md-8">
        <div class="form-group-one-unit margin-bottom-40">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-group-custom">
                    <label>Izdavačka kuća</label>
                    <p><?php echo $this->djelo->getIzdavac()->getNaziv(); ?></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-group-custom">
                    <label>Medij</label>
                    <p><?php echo $this->djelo->getMedij()->getNaziv(); ?></p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-group-custom">
                    <label>Godina izdanja</label>
                    <p><?php echo $this->djelo->getGodinaIzdanja(); ?></p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group form-group-custom">
                    <label>Književna vrsta</label>
                    <p><?php echo $this->djelo->getKnjizevnaVrsta()->getNaziv(); ?></p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-group-custom">
                    <label>Autori</label>
                    <p><?php echo $this->djelo->popisAutora(); ?></p>
                </div>
            </div>
        </div>
    </div>


        <!-- summernote plugin -->
<!--        <div class="wrapper wrapper-white">-->
<!--            <div class="page-subtitle">-->
<!--                <h3>Summernote</h3>-->
<!--                <p>Super Simple WYSIWYG Editor on Bootstrap</p>-->
<!--            </div>-->
<!---->
<!--            <div class="summernote">-->
<!--                <p>Some heading goes here</p>-->
<!--            </div>-->
<!---->
<!--        </div>-->
        <!-- ./summernote plugin -->


     </div>

    <div class="col-md-4">
        <?php $form->prepare(); echo $this->form()->openTag($form); ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Novi unos</h3>
                <ul class="panel-btn">
                    <li><i class="fa fa-save"></i><?php echo $this->formSubmit($form->get('submit')); ?></li>
                </ul>
                </ul>
            </div>
            <div class="panel-body">
                <div class="form-group margin-bottom-0">
                    <div class="row">
                        <div class="col-md-offset-2">
                    <?php echo $this->formRow($form->get('kataloskiBroj'));?>
                    <span class="help-block">Kataloške brojeve odvojite zarezom</span>
                            </div></div>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag(); ?>

        <div class="panel panel-default">
            <div class="panel-body" style="border-bottom: 0px;">
                <div class="page-subtitle page-subtitle-centralized margin-bottom-0">
                    <h3>Kataloški brojevi</h3>
                    <p>Popis kataloških brojeva književno-umjetničkog djela</p>
                </div>
            </div>
            <div class="panel-body list-contacts">
                <?php
                 if(count($this->paginator)>0) :
                    foreach($this->paginator as $row): ?>
                        <?php $idKatalog = $row['idKatalog'];?>
                        <?php if(!empty($row['kataloskiBroj'])) :?>



                        <li class="list-contacts-item">
                            <h5><i class="fa fa-book"></i> <?php echo $row['kataloskiBroj']; ?>
                                <?php
                                    if($row['posudbaId']):?>
                                        <a tabindex="0" role="button" data-placement="left" class="btn btn-primary btn-clean btn-rounded pull-right" data-toggle="popover" data-trigger="focus"  data-html=true title="Kataloški broj je u aktivnoj posuđbi" data-content="<i class='fa fa-user'></i> <b>UČENIK:</b><br/> <?php echo $row['ime']. " (". $row['razred'] .")" ?><br/><hr/>  <i class='fa fa-calendar'></i><b> DATUM POSUDBE:</b><br/> <?php echo $row['datumPosudbe']->format("d.m.Y h:i:s"); ?><br/><hr/> <i class='fa fa-calculator'></i> <b> TRAJANJE POSUDBE:</b><br/> <?php echo $row['trajanjePosudbe']; ?> dana"><i class="fa fa-user"></i> </a>
                                   <?php else: ?>
                                        <a href="<?php echo $this->url('kataloski-broj/default', array('action' => 'delete', 'id' => $row['idKataloskiBroj']))?>" role="button" class="btn btn-primary btn-clean btn-rounded pull-right delete"><i class="fa fa-remove"></i></a>
                                   <?php endif; ?>
                            </h5>
                        </li>
                        <?php else:?>
                                <p>Nema kataloških brojeva</p>
                        <?php endif; ?>
                    <?php endforeach; ?>
                 <?php endif; ?>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body" style="border-bottom: 0px;">
                <div class="page-subtitle page-subtitle-centralized margin-bottom-0">
                    <h3>Brisanje djela iz kataloga</h3>
                    <p>Književno-umjetničko djelo moguće je izbrisati iz knjižničnog kataloga sve dok ne sadrži barem jedan kataloški broj</p>
                </div>
            </div>
            <div class="panel-body list-contacts">
                <?php echo $this->deleteDjeloBtn($this->url('knjiznicni-katalog/default', array('action' => 'confirm-delete', 'id' => $idKatalog )),"" , "", $this->hasOrphans, $this->message )?>
            </div>
        </div>


    </div>





</div>


</div> <!-- + .wrapper-white to get white background -->
<!-- ./content wrapper -->



<?php echo $this->headScript()->appendFile($this->basePath().'/js/myScripts.js'); ?>