<?php #echo $this->header("Učenici", "Popis svih učenika", "Novi učenik", $this->route['default'], "", "users"); ?>
<?php echo $this->header("Moj katalog", "Popis svih književno-umjetničkih djela", "Novo književno-umjetničko djelo", "", "", "book"); ?>
<!-- content wrapper -->
<div class="wrapper">


    <div id="results"></div>


</div> <!-- + .wrapper-white to get white background --><!-- ./content wrapper -->

<?php  echo  $this->partial('partials/indexAjaxSearch', array('route' => $this->route['ajaxSearch'])); ?>
