<div class="page-title">
    <h1>Kontrolna ploča</h1>
    <p>Subheading</p>

</div>



    <!-- http://anthonyterrien.com/knob/ -->

    <div class="wrapper wrapper-white">
        <div class="page-subtitle page-subtitle-centralized">
            <h3>Knob Charts</h3>
            <p>Nice, downward compatible, touchable, jQuery dial.</p>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h4>Disable display input</h4>
                <input class="knob" data-width="100" data-fgColor="#34495e" data-displayInput=false value="35" data-thickness=".1"/>
            </div>
            <div class="col-md-4 text-center">
                <h4>'cursor' mode</h4>
                <input class="knob" data-width="100" data-cursor=true data-fgColor="#85d6de" value="29" data-thickness=".1"/>
            </div>
            <div class="col-md-4 text-center">
                <h4>Display previous value</h4>
                <input class="knobCharts" value="35" data-fgColor="#82b440" />
            </div>
        </div>
    </div>


    <!-- Sparkline charts-->
    <div class="row margin-bottom-30">
        <div class="col-md-3">
            <div class="page-subtitle">
                <h3>Bar</h3>
                <p>Set the "type" option to "bar" to generate bar charts.</p>
            </div>
        </div>
        <div class="col-md-7 col-md-offset-2">
            <span class="sparkline" sparkType="bar" sparkBarColor="#34495e" sparkWidth="850" sparkHeight="300" sparkBarWidth="29">5,4,3,2,4,5,6,7,8,6,4,5,8,7,6,5,4</span>
        </div>
    </div>


<script>
    $('.knobCharts').knob({
        'readOnly' : true,
        'width' : 100
    });


//    $("#sparkline").sparkline([5,6,7,9,9,5,3,2,2,4,6,7], {
//        type: 'line'});

</script>



<h1>Posljednji unosi u bazu podataka</h1>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover text-center">
        <tr>
            <th width="200" class="text-left">Details</th>
            <th width="150" class="text-left">Products</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Delivery</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>
                <div class="list-contacts list-contacts-inline" style="width: 160px;">
                    <a href="#" class="list-contacts-item contact-online">
                        <img src="assets/images/users/user_2.jpg"> Devin Stephens
                    </a>
                </div>
            </td>
            <td class="text-left table-products">
                <a href="#">Awesome T-shirt</a>
            </td>
            <td>1</td>
            <td><strong>$15.99</strong></td>
            <td class="text-left">
                <span class="label label-danger" style="margin-right: 10px;">Courier</span> UK,London. Street st. 159
            </td>
            <td><span class="label label-success">New</span></td>
            <td>
                <button class="btn btn-primary btn-rounded btn-clean">view</button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="list-contacts list-contacts-inline" style="width: 160px;">
                    <a href="#" class="list-contacts-item contact-away">
                        <img src="assets/images/users/user_3.jpg"> Marissa George
                    </a>
                </div>
            </td>
            <td class="text-left table-products">
                <a href="#">Oldor GG pants</a><br><a href="#">Socks (white)</a>
            </td>
            <td>1 / 1</td>
            <td><strong>$57.45</strong></td>
            <td class="text-left">
                <span class="label label-info" style="margin-right: 10px;">Pickup</span> USA,New York. Highway st. 5
            </td>
            <td><span class="label label-warning">In queue</span></td>
            <td>
                <button class="btn btn-primary btn-rounded btn-clean">view</button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="list-contacts list-contacts-inline" style="width: 160px;">
                    <a href="#" class="list-contacts-item contact-offline">
                        <img src="assets/images/users/user_1.jpg"> John Doe
                    </a>
                </div>
            </td>
            <td class="text-left table-products">
                <a href="#">pPhone 64Gb</a><br><a href="#">Accessories</a>
            </td>
            <td>1 / 2</td>
            <td><strong>$348.00</strong></td>
            <td class="text-left">
                <span class="label label-danger" style="margin-right: 10px;">Courier</span> UA, Kiev. Revuts st. 42
            </td>
            <td><span class="label label-danger">Delivering</span></td>
            <td>
                <button class="btn btn-primary btn-rounded btn-clean">view</button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="list-contacts list-contacts-inline" style="width: 160px;">
                    <a href="#" class="list-contacts-item contact-offline">
                        <img src="assets/images/users/user_4.jpg"> Karen Spencer
                    </a>
                </div>
            </td>
            <td class="text-left table-products">
                <a href="#">Teddy Bear</a><br><a href="#">Flowers (Roses)</a>
            </td>
            <td>1 / 21</td>
            <td><strong>$121.32</strong></td>
            <td class="text-left">
                <span class="label label-success" style="margin-right: 10px;">Post</span> RU, Moscow. Lenina st. 11
            </td>
            <td><span class="label label-success">Delivered</span></td>
            <td>
                <button class="btn btn-primary btn-rounded btn-clean">view</button>
            </td>
        </tr>
    </table>
</div>

