<?php #echo $this->header("Učenici", "Popis svih učenika", "Novi učenik", $this->route['default'], "", "users"); ?>
<?php echo $this->header("Područni odjeli", "Popis svih područnih odjela", "Novi područni odjel", "", "", "building"); ?>
<!-- content wrapper -->
<div class="wrapper">


    <div id="results"></div>


</div> <!-- + .wrapper-white to get white background --><!-- ./content wrapper -->

<?php echo $this->partial('partials/indexAjaxSearch', array('route' => $this->route['ajaxSearch'])); ?>
