<!DOCTYPE html>
<head>
	<head>
	<!-- meta section -->
	<title>Intuitive - Admin Dashboard Template</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge" >
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >

	<link rel="icon" href="favicon.ico" type="image/x-icon" >
	<!-- /meta section -->

	<!-- css styles -->
		<?php echo $this->headLink()->appendStylesheet($this->basePath().'/css/default-blue-white.css') ?>
	<!-- ./css styles -->

	<!-- javascripts -->
	<?php echo $this->headScript()->appendFile($this->basePath().'/js/plugins/modernizr/modernizr.js');?>
	<!-- ./javascripts -->

	<style>.dev-page{visibility: hidden;}</style>
</head>
<body>
<!-- page wrapper -->
<?php echo $this->content; ?>
<!-- ./page wrapper -->

<!-- javascript -->
<?php
echo $this->headScript()
//    ->appendFile($this->basePath().'/js/plugins/jquery/jquery.min.js')
				->appendFile($this->basePath().'/js/plugins/jquery/jquery-ui.min.js')
				->appendFile($this->basePath().'/js/plugins/bootstrap/bootstrap.min.js');
?>
<!-- ./javascript -->
</body>
</html>