<?php $this->checkFetchError($this->paginator); ?>
<?php echo $this->partial('partials/flashMessage'); ?>
<?php $hashConfig = $this->config()['hash_ids']; ?>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th><?php echo $this->sort('id', 'ID', $this->sortParams )?></th>
        <th><?php echo $this->sort('ime', 'Ime i prezime', $this->sortParams )?></th>
        <th><?php echo $this->sort('razred', 'Razred', $this->sortParams )?></th>
        <th><?php echo $this->sort('zapocetaPosudba', 'Datum posudbe', $this->sortParams )?></th>
        <th><?php echo $this->sort('nazivDjela', 'Posuđeno književno-umjetničko djelo', $this->sortParams )?></th>
        <th><?php echo $this->sort('trajanjePosudbe', 'Trajanje (dani)', $this->sortParams )?></th>
<!--        <th>Akcije</th>-->
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->paginator as $row) : ?>
        <tr>
            <td><?php echo $this->hash($row['id'], $hashConfig)?></td>
            <td><?php echo $this->escapeHtml($row['ime'])?></td>
            <td><?php echo $this->escapeHtml($row['razred'])?></td>
            <td><?php echo $this->escapeHtml($row['zapocetaPosudba']->format('d.m.Y H:i:s'))?></td>
            <td><?php echo $this->escapeHtml($row['nazivDjela'])?></td>
            <td><?php echo $this->escapeHtml($row['trajanjePosudbe'])?></td>
<!--            <td>-->
                <?php #echo $this->editBtn($this->route['edit'], $row['id']); ?>
                <?php #echo $this->deleteBtn($this->route['delete'], $row['id'], "", $row['brojRazreda'], $this->message); ?>
<!--            </td>-->
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<?php echo $this->paginationcontrol($this->paginator, 'Sliding', 'search_pagination.phtml', array('sortParams' => $this->sortParams)); ?>
<?php echo $this->headScript()->appendFile($this->basePath().'/js/myScripts.js'); ?>
