<?php echo $this->header("Posudbe", "Popis svih posudbi", "Nova posudba", "", "", "building"); ?>

<div class="wrapper">
    <div id="results"></div>
</div>

<?php echo $this->partial('partials/indexAjaxSearch', array('route' => $this->route['ajaxSearch'])); ?>