<?php echo $this->header("Posudbe", "Nova posudba / Vraćanje knjige", "Nova posudba", "", "", "building"); ?>

<div class="wrapper">
    <?php echo $this->partial('partials/flashMessage'); ?>

    <div class="row">
        <div class="col-md-4">
            <?php $form->prepare(); ?>
            <?php echo $this->form()->openTag($form); ?>
            <?php echo $this->formRow($form->get('clan')); ?>
            <?php echo $this->formRow($form->get('kataloskiBroj')); ?>
            <?php echo $this->formRow($form->get('produljiPosudbu')); ?>
            <?php echo $this->formSubmit($form->get('submit')); ?>
            <?php echo $this->form()->closeTag(); ?>
        </div>
        <div class="col-md-8">
            <div>traži učenika po id-u</div>
        </div>
    </div>


</div>
