<?php 
#foreach ($this->container as $page) {
#	echo $this->navigation()->menu()->htmlify($page), PHP_EOL;  $page->getHref()
#}
?>


	<ul class="dev-page-navigation">
		<li class="title">Navigacija</li>

		<?php
			$navHelper = $this->navigation('navigation');
			$containers = $navHelper->getContainer();

			foreach($containers->getPages() as $page) {

			if(!$navHelper->accept($page)) {continue;}
					$icon = $page->get("data-icon");
					$count = count($page);
					$class = ($page->isActive()) ? "active" : "";


				
				foreach ($page as $subPage){
					if(!$navHelper->accept($subPage)) {
						continue;
					}
					
					
					if($subPage->isActive()){
						$class = " active";
						$collapse = " in";
						
						
					}

					
					#3. level
					foreach ($subPage as $subSubPage){
						if(!$navHelper->accept($subSubPage)) {
							continue;
						}
						
						
						if($subSubPage->isActive()){
							$class = " active";
							#$collapse = " in";
						}
					}
					
					
					
				}
				


				if(count($page)) {

					//item koji ima subitem
					echo "<li class=\"{$class}\"> <a href=\"{$page->getHref()}\"><i class=\"{$icon}\"></i><span>{$this->escapehtml($page->getLabel())}</span></a>\n";

					echo "<ul>"."\n";
					foreach($page as $subPage) {

						if(!$navHelper->accept($subPage)) {
							continue;
						}

						// aktivna subpage
						if($subPage->isActive()){
							echo "<li class='active'><a href=\"{$subPage->getHref()}\">{$this->escapehtml($subPage->getLabel())}</a></li>";
						}

						// neaktivna subpage
						else {
							echo "<li><a href=\"{$subPage->getHref()}\">{$this->escapehtml($subPage->getLabel())}</a></li>";
						}
					}
					echo "</ul></li>";
				}
				else {
					// item koji nema subitema


						echo "<li class=\"{$class}\"> <a href=\"{$page->getHref()}\"><i class=\"{$icon}\"></i><span>{$this->escapehtml($page->getLabel())}</span></a></li>\n";

				}
				
			}
		?>
	</ul>
