<!-- page title -->
<div class="page-title">
    <h1><i class="fa fa-user-plus" aria-hidden="true"></i> <?php echo $this->pageHeading; ?></h1>
    <p></p>

    <!-- breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="#">Link</a></li>
        <li>Static</li>
    </ul>
    <!-- ./breadcrumb -->
</div>
<!-- ./page title -->

<div class="wrapper"><!-- + .wrapper-white to get white background -->
    <?php $form->prepare(); ?>
    <?php echo $this->form()->openTag($form); ?>
    <?php echo $this->formRow($form->get('clan')->get('ime')); ?>
    <?php echo $this->formRow($form->get('clan')->get('prezime')); ?>
    <?php echo $this->formRow($form->get('clan')->get('spol')); ?>
    <?php echo $this->formRow($form->get('clan')->get('kontakt')); ?>
    <?php echo $this->formRow($form->get('clan')->get('kontakt2')); ?>
    <?php echo $this->formRow($form->get('clan')->get('email')); ?>
    <?php echo $this->formRow($form->get('csrf')); ?>
    <?php echo $this->formRow($form->get('submit')); ?>
    <?php echo $this->form()->closeTag(); ?>
</div>
