<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta section -->
    <title>Intuitive - Admin Dashboard Template</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >

    <link rel="icon" href="favicon.ico" type="image/x-icon" >
    <!-- ./meta section -->


    <!--sweetAlert2 -->
    <?php
    echo $this->headLink()->appendStylesheet($this->basePath().'/js/sweetalert2/sweetalert2.min.css');
    echo $this->headScript()->appendFile($this->basePath().'/js/sweetalert2/sweetalert2.min.js');
    ?>

    <!-- CSS -->
    <?php  echo $this->headLink()->appendStylesheet($this->basePath().'/css/default-blue-white.css') ?>

    <!-- JavaScript -->
    <?php
    echo $this->headScript()->appendFile($this->basePath().'/js/plugins/jquery/jquery.min.js');
    echo $this->headScript()->appendFile($this->basePath().'/js/plugins/jquery/jquery-ui.min.js');

    echo $this->headScript()->appendFile($this->basePath().'/js/myScripts.js');
    echo $this->headScript()->appendFile($this->basePath().'/js/plugins/modernizr/modernizr.js');
    echo $this->headScript()->appendFile($this->basePath().'/js/plugins/tags-input/jquery.tagsinput.min.js');
    echo $this->headScript()->appendFile($this->basePath().'/js/plugins/summernote/summernote.min.js');
    echo $this->headScript()->appendFile($this->basePath().'/js/plugins/bootstrap-select/bootstrap-select.js');
    ?>

    <!-- ckeditor -->
    <?php  echo $this->headScript()->appendFile($this->basePath().'/js/plugins/ckeditor/ckeditor.js'); ?>


    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>-->



    <!-- Knob Charts -->
    <?php  echo $this->headScript()->appendFile($this->basePath().'/js/plugins/knob/jquery.knob.min.js'); ?>

    <!-- Sparkline Charts -->
    <?php  echo $this->headScript()->appendFile($this->basePath().'/js/plugins/sparkline/jquery.sparkline.min.js'); ?>



    <?php echo $this->headLink()->appendStylesheet($this->basePath().'/js/plugins/bootstrap/tokenfield-typeahead.min.css') ?>
    <?php echo $this->headScript()->appendFile($this->basePath().'/js/plugins/bootstrap/bootstrap-tokenfield.min.js'); ?>


    <style>
        .dev-page{visibility: hidden;}
    </style>
</head>
<body>
<!-- page wrapper -->
<div class="dev-page">

    <!-- page header -->
    <div class="dev-page-header">

        <div class="dph-logo">
            <a href="index.html">Intuitive</a>
            <a class="dev-page-sidebar-collapse">
                <div class="dev-page-sidebar-collapse-icon">
                    <span class="line-one"></span>
                    <span class="line-two"></span>
                    <span class="line-three"></span>
                </div>
            </a>
        </div>

        <ul class="dph-buttons pull-right">
            <li class="dph-button-stuck">
                <a href="#" class="dev-page-search-toggle">
                    <div class="dev-page-search-toggle-icon">
                        <span class="circle"></span>
                        <span class="line"></span>
                    </div>
                </a>
            </li>
            <li class="dph-button-stuck">
                <a href="#" class="dev-page-rightbar-toggle">
                    <div class="dev-page-rightbar-toggle-icon">
                        <span class="line-one"></span>
                        <span class="line-two"></span>
                    </div>
                </a>
            </li>
        </ul>

    </div>
    <!-- ./page header -->

    <!-- page container -->
    <div class="dev-page-container">

        <!-- page sidebar -->
        <div class="dev-page-sidebar">

            <?php
            $partial = array('menu.phtml', 'application');
            echo $this->navigation('navigation')->menu()->setPartial($partial)->setMinDepth(0)->setMaxDepth(0)->setUlClass('dev-page-navigation')->render();
            ?>


        </div>
        <!-- ./page sidebar -->

        <!-- page content -->
        <div class="dev-page-content">
            <!-- page content container -->
            <div class="container">

                <?php echo $this->content; ?>

                <!-- page title -->
                <!--                <div class="page-title">-->
                <!--                    <h1>Title</h1>-->
                <!--                    <p>Subtitle</p>-->
                <!---->
                <!--                    <ul class="breadcrumb">-->
                <!--                        <li><a href="#">breadcrumb</a></li>-->
                <!--                        <li>nav</li>-->
                <!--                    </ul>-->
                <!--                </div>-->
                <!-- ./page title -->



                <!-- Copyright -->
                <div class="copyright">
                    <div class="pull-left">
                        &copy; 2015 <strong>Aqvatarius</strong>. All rights reserved.
                    </div>
                    <div class="pull-right">
                        <a href="#">Terms of use</a> / <a href="#">Privacy Policy</a>
                    </div>
                </div>
                <!-- ./Copyright -->
            </div>
            <!-- ./page content container -->

        </div>
        <!-- ./page content -->
    </div>
    <!-- ./page container -->



    <!-- page footer -->
    <div class="dev-page-footer dev-page-footer-fixed"> <!-- dev-page-footer-closed dev-page-footer-fixed -->
        <ul class="dev-page-footer-controls">
            <li><a class="tip" title="Settings"><i class="fa fa-cogs"></i></a></li>
            <li><a class="tip" title="Support"><i class="fa fa-life-ring"></i></a></li>
            <li><a class="tip" href="<?php echo $this->url('zfcuser/logout')?>" title="Logoff"><i class="fa fa-power-off"></i></a></li>

            <li class="pull-right">
                <a class="dev-page-sidebar-minimize tip" title="Toggle navigation"><i class="fa fa-outdent"></i></a>
            </li>
        </ul>

        <!-- page footer buttons -->
        <ul class="dev-page-footer-buttons">
            <li><a href="#footer_content_1" class="dev-page-footer-container-open"><i class="fa fa-database"></i></a></li>
            <li><a href="#footer_content_2" class="dev-page-footer-container-open"><i class="fa fa-bar-chart"></i></a></li>
            <li><a href="#footer_content_3" class="dev-page-footer-container-open"><i class="fa fa-server"></i></a></li>
        </ul>
        <!-- ./page footer buttons -->
        <!-- page footer container -->
        <div class="dev-page-footer-container">

            <!-- loader and close button -->
            <div class="dev-page-footer-container-layer">
                <a href="#" class="dev-page-footer-container-layer-button"></a>
            </div>
            <!-- ./loader and close button -->

            <!-- informers -->
            <div class="dev-page-footer-container-content" id="footer_content_1">
                <div class="dev-list-informers">
                    <div class="dev-list-informers-item">
                        <div class="chart">
                            <input class="knob" data-width="100" data-max="100" data-fgColor="#E74E40" value="33" data-angleArc="250" data-angleOffset="-125" data-thickness=".1"/>
                        </div>
                        <div class="info">
                            <h5>Disk Usage</h5>
                            <p>Server #1 - <strong>235,4Gb / 500Gb</strong></p>
                            <p>Server #2 - <strong>114,2Gb / 500Gb</strong></p>
                            <p class="text-higlight">33% - Total disk usage</p>
                        </div>
                    </div>

                    <div class="dev-list-informers-item">
                        <div class="chart">
                            <input class="knob" data-width="100" data-max="100" data-fgColor="#85d6de" value="75" data-thickness=".1"/>
                        </div>
                        <div class="info">
                            <h5>Database Usage</h5>
                            <p>Disk Space - <strong>64,3Gb / 100Gb</strong></p>
                            <p>Accounts - <strong>12 / 30</strong></p>
                            <p class="text-higlight">75% - Features usage</p>
                        </div>
                    </div>

                    <div class="dev-list-informers-item">
                        <div class="chart">
                            <input class="knob" data-width="100" data-max="100" data-fgColor="#82b440" value="62" data-thickness=".1"/>
                        </div>
                        <div class="info">
                            <h5>Memory Usage</h5>
                            <p>Total - <strong>2048Mb</strong></p>
                            <p>Cached - <strong>1291Mb</strong></p>
                            <p>Available - <strong>757Mb</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./informers -->

            <!-- informers -->
            <div class="dev-page-footer-container-content" id="footer_content_2">
                <div class="dev-list-informers">
                    <div class="dev-list-informers-item dev-list-informers-item-extended">
                        <div class="chart">
                            <span class="sparkline" sparkType="bar" sparkBarColor="#82b440" sparkWidth="150" sparkHeight="100" sparkBarWidth="15">5,4,3,2,4,5,6,7,8,6,4,5</span>
                        </div>
                        <div class="info">
                            <h5>Visitors</h5>
                            <p>New - <strong>722</strong></p>
                            <p>Returned - <strong>230</strong></p>
                            <p class="text-higlight">Total - <strong>952</strong></p>
                        </div>
                    </div>

                    <div class="dev-list-informers-item dev-list-informers-item-extended">
                        <div class="chart">
                            <span class="sparkline" sparkFillColor="#85d6de" sparkLineWidth="2" sparkLineColor="#85d6de" sparkWidth="200" sparkHeight="100" >5,4,3,2,4,5,6,7,8,6,4,5</span>
                        </div>
                        <div class="info">
                            <h5>Sales</h5>
                            <p>Total Sales - 35</p>
                            <p>Rate - 25</p>
                            <p class="text-higlight">Ratio - <strong>75%</strong></p>
                        </div>
                    </div>

                    <div class="dev-list-informers-item">
                        <div class="chart">
                            <span class="sparkline" sparkType="pie" sparkWidth="100" sparkHeight="100" >3,7</span>
                        </div>
                        <div class="info">
                            <h5>User Stats</h5>
                            <p>Registrated - 1,522</p>
                            <p>Not active - 316</p>
                            <p class="text-higlight">Total - <strong>1,838</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./informers -->

            <!-- projects -->
            <div class="dev-page-footer-container-content" id="footer_content_3">
                <ul class="dev-list-projects">
                    <li><a href="#" class="active">Intuitive</a></li>
                    <li><a href="#">Atlant</a></li>
                    <li><a href="#">Gemini</a></li>
                    <li><a href="#">Taurus</a></li>
                    <li><a href="#">Leo</a></li>
                    <li><a href="#">Aries</a></li>
                    <li><a href="#">Virgo</a></li>
                    <li><a href="#">Aquarius</a></li>
                    <li><a href="#" class="dev-list-projects-add"><i class="fa fa-plus"></i></a></li>
                </ul>
            </div>
            <!-- ./projects -->
        </div>
        <!-- ./page footer container -->

        <ul class="dev-page-footer-controls dev-page-footer-controls-auto pull-right">
            <li><a class="dev-page-footer-fix tip" title="Fixed footer"><i class="fa fa-thumb-tack"></i></a></li>
            <li><a class="dev-page-footer-collapse dev-page-footer-control-stuck"><i class="fa fa-dot-circle-o"></i></a></li>
        </ul>
    </div>
    <!-- ./page footer -->

    <!-- page search -->
    <div class="dev-search">
        <div class="dev-search-container">
            <div class="dev-search-form">
                <form action="index.html" method="post">
                    <div class="dev-search-field">
                        <input type="text" placeholder="Search..." value="Nature">
                    </div>
                </form>
            </div>
            <div class="dev-search-results"></div>
        </div>
    </div>
    <!-- page search -->
</div>
<!-- ./page wrapper -->


<!-- JavaScript -->
<?php
echo $this->headScript()
//    ->appendFile($this->basePath().'/js/plugins/jquery/jquery.min.js')
    ->appendFile($this->basePath().'/js/plugins/jquery/jquery-ui.min.js')
    ->appendFile($this->basePath().'/js/plugins/bootstrap/bootstrap.min.js')

    ->appendFile($this->basePath().'/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js')
    ->appendFile($this->basePath().'/js/plugins/moment/moment.js')

    ->appendFile($this->basePath().'/js/plugins/knob/jquery.knob.min.js')
    ->appendFile($this->basePath().'/js/plugins/sparkline/jquery.sparkline.min.js')

//    ->appendFile($this->basePath().'/js/dev-settings.js')
    ->appendFile($this->basePath().'/js/dev-loaders.js')
    ->appendFile($this->basePath().'/js/dev-layout-default.js')
    ->appendFile($this->basePath().'/js/dev-app.js');
?>
<!-- /JavaScript -->
</body>
</html>






