<?php $this->checkFetchError($this->paginator); ?>
<?php $hashConfig = $this->config()['hash_ids']; ?>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th><?php echo $this->sort('dj.id', 'ID', $this->sortParams )?></th>
        <th><?php echo $this->sort('dj.naziv', 'Naslov', $this->sortParams )?></th>
        <th><?php echo $this->sort('m.naziv', 'Medij', $this->sortParams )?></th>
        <th><?php echo $this->sort('i.naziv', 'Izdavačka kuća', $this->sortParams )?></th>
        <th><?php echo $this->sort('dj.godinaIzdanja', 'Izdanje', $this->sortParams )?></th>

        <th>Status</th>
        <th>Akcije</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($this->paginator as $row) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($row->getID())?></td>
            <td><?php echo $this->escapeHtml($row->getNaziv())?></td>
            <td><?php echo $this->escapeHtml($row->getMedij()->getNaziv())?></td>
            <td><?php echo $this->escapeHtml($row->getIzdavac()->getNaziv())?></td>
            <td><?php echo $this->escapeHtml($row->getGodinaIzdanja())?></td>
            <td>
                <?php if(in_array($row->getID(), $ids)): ?>
                    <button class="btn btn-primary btn-rounded btn-clean btn-success"> <i class="fa fa-check-circle" aria-hidden="true"></i> Moj katalog</button>
                <?php else: ?>
                <a class="btn btn-primary btn-rounded btn-clean" href="<?php echo $this->url('knjiznicni-katalog/default', array('action' => 'noviunos', 'id' => $row->getId())); ?>"> <i class="fa fa-plus" aria-hidden="true"></i> Dodaj u moj katalog</a>
                <?php endif; ?>
            </td>
            <td>
                <?php echo $this->editBtn($this->route['edit'], $this->hash($row->getID(), $hashConfig)); ?>
                <?php echo $this->confirmDeleteBtn($this->route['confirmDelete'], $this->hash($row->getID(), $hashConfig), "", "", $this->message); ?>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<?php echo $this->paginationcontrol($this->paginator, 'Sliding', 'search_pagination.phtml', array('sortParams' => $this->sortParams)); ?>
<?php echo $this->headScript()->appendFile($this->basePath().'/js/myScripts.js'); ?>
