<?php $hashConfig = $this->config()['token']; ?>




<!-- content wrapper -->
<div class="wrapper"><!-- + .wrapper-white to get white background -->

    <div class="panel panel-default">
        <div class="panel-body" style="border-bottom: 0px;">
            <div class="page-subtitle page-subtitle-centralized margin-bottom-0">
                <h3>Brisanje unosa iz Liber kataloga</h3>
                <p>Književno-umjetničko djelo moguće je izbrisati iz Liber kataloga jedino u slučaju ako djelo ne koriste ostali korisnici aplikacije.</p>
            </div>
        </div>
        <div class="panel-body list-contacts">
            <?php  $deleteUrl = $this->url('liber-katalog/delete', array('id' => $this->djelo->getId(), 'token'=>$this->hash($this->djelo->getId(), $hashConfig) )) ?>

            <a href="<?php echo $deleteUrl; ?>" role='button' class='btn btn-primary btn-clean btn-rounded pull-left'><i class='fa fa-remove'></i> Izbriši iz knjižničnog kataloga</a>

            <a href='<?php echo $this->url('liber-katalog/default')?>' role='button' class='btn btn-primary btn-clean btn-rounded pull-right '><i class='fa fa-exchange'></i> Vrati se na Liber katalog</a>
            <br />



        </div>
    </div>

</div>