<div class="page-title"><h1><i class="fa fa-book" aria-hidden="true"></i> Uredi književno-umjetničko djelo</h1>
<p>Liber katalog</p>
</div>


<!-- content wrapper -->
<div class="wrapper"><!-- + .wrapper-white to get white background -->
    <?php echo $this->partial('partials/flashMessage'); ?>


    <?php $form->prepare(); ?>
    <?php echo $this->form()->openTag($form); ?>

    <div class="row">

        <div class="col-md-6">
            <?php echo $this->formRow($form->get('djelo')->get('naziv') ); ?>
            <?php echo $this->formRow($form->get('djelo')->get('godinaIzdanja'));?>
            <?php echo $this->formRow($form->get('djelo')->get('izdavac'));?>
            <?php echo $this->formRow($form->get('djelo')->get('medij')) ?>
            <?php echo $this->formRow($form->get('djelo')->get('knjizevnaVrsta')); ?>
        </div>
        <div class="col-md-6 formCollection">
            <?php echo $this->formCollection($form->get('djelo')->get('autori')); ?>
            <button class="btn btn-success" onclick="return add_fieldset()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            <button class="btn btn-danger" onclick="return remove_fieldset()"><i class="fa fa-remove" aria-hidden="true"></i> Remove</button>
        </div>
    </div>

    <?php echo $this->formSubmit($form->get('submit')); ?>
    <?php echo $this->form()->closeTag(); ?>
</div>


<script>
    function add_fieldset() {

        //umjesto form collection, bilo je form
        var currentCount = $('.formCollection > fieldset > fieldset').length;


        var template = $('.formCollection > fieldset > span').data('template');
        template = template.replace(/__index__/g, currentCount);

        $('.formCollection > fieldset').append(template);

        return false;
    }

    function remove_fieldset() {
        //write your logic to remove the last, or the current element, for isntance:

        $('.formCollection > fieldset > fieldset').last().remove();
        return false;
    }
</script>

