<?php #echo $this->header("Učenici", "Popis svih učenika", "Novi učenik", $this->route['default'], "", "users"); ?>
<?php echo $this->header("Katalog", "Popis književno-umjetničkih djela", "Novo književno-umjetničko djelo", $this->route['default'], "", "user"); ?>
<!-- content wrapper -->
<div class="wrapper">

    <?php echo $this->partial('partials/flashMessage'); ?>

<div class="row">
    <div class="col-xs-6">
        <div class="block-condensed">
            <div class="form-group margin-bottom-0">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input class="form-control searchText" type="text" placeholder="upišite naziv djela, medija, književne vrste ili izdavačke kuće ">
                    <div class="input-group-btn">
                        <button class="btn btn-default search">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div id="results"></div>


</div> <!-- + .wrapper-white to get white background --><!-- ./content wrapper -->

<?php # echo $this->partial('partials/indexAjaxSearch', array('route' => $this->route['ajaxSearch'])); ?>






<script type="text/javascript">
    $(document).ready(function() {

        $(document).keypress(function(e) {
            if(e.which == 13) {
                e.preventDefault();

                var search = $(".searchText").val();
                var page = $(".ajaxSort").attr( "data-page" );
                var order_by = $(".ajaxSort").attr( "data-order_by" );
                var order = $(".ajaxSort").attr( "data-order" );


                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: "<?php echo $this->url($this->route['ajaxSearch']); ?>",
                    data: {page:page, order_by:order_by, order:order, search:search},

                    beforeSend: function(){
                        $("#results").fadeTo( 'slow', 0.2);
                    },

                    success: function(data) {
                        $("#results").fadeTo( 'fast', 1);
                        $("#results").html( data );

                    },
                });
            }
        });


        $(".search").on( "click", function(event) {
            event.preventDefault();
            var search = $(".searchText").val();
            var page = $(".ajaxSort").attr( "data-page" );
            var order_by = $(".ajaxSort").attr( "data-order_by" );
            var order = $(".ajaxSort").attr( "data-order" );

//            alert(search);

            $.ajax({
                cache: false,
                type: 'POST',
                url: "<?php echo $this->url($this->route['ajaxSearch']); ?>",
                data: {page:page, order_by:order_by, order:order, search:search},

                beforeSend: function(){
                    $("#results").fadeTo( 'slow', 0.2);
                },

                success: function(data) {
                    $("#results").fadeTo( 'fast', 1);
                    $("#results").html( data );

                },

                error: function(){
                    $( "#results" ).html( "Ne radi" );
                }
            });
        });

    });
</script>
