<?php $hashConfig = $this->config()['token']; ?>




<!-- content wrapper -->
<div class="wrapper"><!-- + .wrapper-white to get white background -->
<h1>Uspješan unos</h1>
    <div class="panel panel-default">
        <div class="panel-body" style="border-bottom: 0px;">
            <div class="page-subtitle page-subtitle-centralized margin-bottom-0">
                <h3>Brisanje unosa iz Liber kataloga</h3>
                <p>Književno-umjetničko djelo moguće je izbrisati iz Liber kataloga jedino u slučaju ako djelo ne koriste ostali korisnici aplikacije.</p>
            </div>
        </div>
        <div class="panel-body list-contacts">




        </div>
    </div>

</div>