<?php echo $this->header("Postavke knjižnice", "", "", "", "", "tasks"); ?>
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-subtitle page-subtitle-centralized">
                        <h3>Provjere koje treba napraviti knjižničar</h3>

                    </div>
                    <p>- Učenici koji su pali razred, prebaciti u niži razred u kojem će nastavljati školovanje</p>
                    <p>- Svi učenici trebaju vratiti knjige</p>


                        <form method="post">
                            <input type="submit" value="Upis u viši razred" class="btn btn-success btn-block" />
                        </form>

                </div>
            </div>
        </div>
    </div>
</div>

<h2>Postavke:</h2>
<ul>
    <li>Items per page</li>
    <li>TAB POSUDBE - Maksimalno trajanje posudbe</li>
    <li>TAB POSUDBE - Broj dana produljenja posudbe</li>
    <li>TAB POSUDBE - Maksimalni broj knjiga aktivnih posudbi</li>
    <li>TAB RAZREDI - omogućiti upisivanje odjeljenja (ili staviti u izbornik Razredi</li>
</ul>
