<?php echo $this->header("Upis učenika u viši razred", "", "", "", "", "tasks"); ?>
<div class="wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-subtitle page-subtitle-centralized">
                        <h3>Provjere koje treba napraviti knjižničar</h3>

                    </div>
                    <p>- Učenici koji su pali razred, prebaciti u niži razred u kojem će nastavljati školovanje</p>
                    <p>- Svi učenici trebaju vratiti knjige</p>


                        <form method="post">
                            <input type="submit" value="Upis u viši razred" class="btn btn-success btn-block" />
                        </form>

                </div>
            </div>
        </div>
    </div>
</div>

<h2>Napraviti provjere:</h2>
<ul>
    <li>Jesu li ove godine već bili upisi u viši razred (ako jesu, treba to napisati i maknuti formu)</li>
    <li>Omogućiti da se upis u novi razred može izvršiti u određeno vrijeme tijekom godine (settings)</li>
</ul>
