<?php $this->checkFetchError($this->paginator); ?>
<?php $settings = $this->settings; ?>

    <div>
    <?php foreach($this->paginator as $post) : ?>
        <?php $data = $this->postInfoData($settings, $post); ?>


        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <span style="margin-right:20px;"><i class="fa fa-calendar" aria-hidden="true"></i> <?php echo $data['createdAt']; ?></span> <a href="<?php echo $this->url('blog/category', array('category' => $data['category'] ));?>"><i class="fa fa-folder-open-o" aria-hidden="true"></i> <?php echo $data['category']; ?></a>
        <h2 class="section-heading"><a href='<?php echo $data['readMoreUrl']; ?>'><?php echo $data['title'];?></a></h2>
        <p class="lead"><?php echo $data['excerpt']; ?></p>

        <p><?php echo $data['content']; ?></p>

        <?php if(empty($data['content'])) :?>
            <a href='<?php echo $data['readMoreUrl'] ?>' class="btn btn-info pull-right"><?php echo $data['readMore']; ?></a>
        <?php endif; ?>




        <div style="clear: both; margin-bottom: 30px"></div>


    <?php endforeach; ?>
    </div>

<?php echo $this->paginationcontrol($this->paginator, 'Sliding', 'search_pagination.phtml', array('sortParams' => $this->sortParams)); ?>
<?php echo $this->headScript()->appendFile($this->basePath().'/js/myScripts.js'); ?>
