<?php echo $this->header("Blog", "Popis svih objava", "Nova objava", "", "", "book"); ?>


<div class="row">
    <div class="col-lg-6 col-sm-6">
        <div id="results"></div>
    </div>
    <div class="col-lg-4 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/landing/ipad.png" alt="">
    </div>
</div>






<?php  echo $this->partial('partials/indexAjaxSearch', array('route' => 'blog/ajaxSearch')); ?>

