<?php $settings = $this->settings; ?>
<?php $data = $this->postInfoData($settings, $post, 'details'); ?>


<div class="wrapper">
    <div class="row">
        <div class="col-md-12">

            <h1><?php echo $data['title']; ?></h1>

            <span style="margin-right:20px;"><i class="fa fa-calendar" aria-hidden="true"></i> <?php echo $data['createdAt']; ?></span>
            <span><i class="fa fa-folder-open-o" aria-hidden="true"></i> <?php echo $data['category']; ?></span>


            <p><?php echo $data['excerpt']; ?></p>
            <p><?php echo $data['content']; ?></p>



            <div style="clear: both; margin-bottom: 30px"></div>

            <span><b>Oznake: </b><?php echo $data['tags']; ?></span>


        </div>
    </div>

</div> <!-- + .wrapper-white to get white background --><!-- ./content wrapper -->






