<!-- Form -->
<?php
	$form = $this->loginForm;
	$form->prepare();
	$form->setAttribute('action', $this->url('zfcuser/login'));
	$form->setAttribute('method', 'post');
?>
<div class="dev-page dev-page-login dev-page-login-v2">

	<div class="dev-page-login-block">
		<a class="dev-page-login-block__logo">Intuitive</a>
		<div class="dev-page-login-block__form">
			<div class="title"><strong>Welcome</strong>, please login</div>

			<?php echo $this->partial('_form.phtml', ['form' => $form]); ?>

			<?php if ($this->enableRegistration) : ?>
				<?php echo $this->translate('Not registered?'); ?> <a href="<?php echo $this->url('zfcuser/register') . ($this->redirect ? '?redirect='.$this->escapeUrl($this->redirect) : '') ?>"><?php echo $this->translate('Sign up!'); ?></a>
			<?php endif; ?>

		</div>
		<div class="dev-page-login-block__footer">
			© 2015 <strong>Aqvatarius</strong>. All rights reserved.
		</div>
	</div>
</div>