

<?php
if (!$this->enableRegistration) {
	print "Registration is disabled";
	return;
}
$form = $this->registerForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/register'));
$form->setAttribute('method', 'post');
$form->setAttribute('autocomplete', 'off');
?>

<div class="dev-page dev-page-login dev-page-login-v2">

	<div class="dev-page-login-block">
		<a class="dev-page-login-block__logo">Intuitive</a>
		<div class="dev-page-login-block__form">
			<div class="title"><strong>Welcome</strong>, please register</div>

			<?php echo $this->partial('_form.phtml', ['form' => $form]); ?>

		</div>
		<div class="dev-page-login-block__footer">
			© 2015 <strong>Aqvatarius</strong>. All rights reserved.
		</div>
	</div>
</div>